NEXT_PUBLIC_SUPABASE_URL=https://[project].supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_API_URL=https://api.herlunari.com/v1
NEXT_PUBLIC_SHOPIFY_PRODUCT_KIT_URL=
NEXT_PUBLIC_SHOPIFY_PRODUCT_SUB_URL=
