# Dependencies
node_modules

# Turborepo
.turbo

# Build outputs
dist
.next
.expo
build

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
prisma/migrations/dev.db
