EXPO_PUBLIC_API_URL=https://api.herlunari.com/v1
EXPO_PUBLIC_SUPABASE_URL=https://[project].supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SHOPIFY_STORE_URL=https://herlunari.myshopify.com
EXPO_PUBLIC_SHOPIFY_PRODUCT_KIT_URL=https://herlunari.myshopify.com/products/30-day-kit
EXPO_PUBLIC_SHOPIFY_PRODUCT_SUB_URL=https://herlunari.myshopify.com/products/monthly-subscription
